<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>My Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
    <script src="main.js"></script>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">



     <link rel='stylesheet' href='style.css' />   
        


    <!--<link rel='stylesheet' href='style.css' />-->
    <meta name="description" content="">
    <meta name="author" content="">

  </head>
  <body >


    <p align="center"><a href="#" onclick="createdocument . ()">         </a></p> 



    <div id="my-app-blob" class="container" >

      

      <div class="row">
        <div class="col-md-2" ></div>
        <div class="col-md-8" >
        
       

        <big> DATOS </big></b></p>

      <div class ="row container">

        <div class = "col-md-2"></div>
        <div class = "col-md-2"></div>
        <div class = "col-md-2"></div>
        <div class = "col-md-2"></div>
        <div class = "col-md-2"><input type="button" value="create document" 
 onClick="document.getElementById('oculto').style.visibility='visible'"> 
</div>
      </div>
  



         
          <div class="list table">
                      
                </div>


        <table>
          <tbody id="myList" ></tbody>
        </table>


        </div>
        <div class="col-md-6">
          <p class="message"></p>
        </div>
        
      </div>
    
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" >
          
          <div class="main-container-blobs">
              <!-- main content for all menu header and others -->
          </div>            
          
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>  

  
       
    
    <div>
        <div class="save hidden" >

        <div id="oculto" style="visibility:hidden">


<table width="75%" align="center" border="0" cellspacing="0" cellpadding="0">
<tr>
<td>
<fieldset>




            <div class="form-group">
                <label for="exampleInputEmail1"><b>Name</b></label>
                <input type="text" class="form-control" id="inputName" placeholder="Required">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"><b>Badge</b></label>
                <input type="number" class="form-control" id="inputBadge" placeholder="Required">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1"><b>Isloved<b></label>
                <input type="checkbox" class="form-control" id="inputIsLoved" placeholder="Required">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Dob</label>
                <input type="date"  class="form-control" id="inputDob" placeholder="Required">
            </div>

            <div>
                <button name="Create" id="create" onclick="blobs.create()">Create</button>
                <button name="save" id="save">Save</button>
                <button>Cancel</button>                
            </div>


</fieldset>
</td>
</tr>
</table>



        </div>
    </div>


  </body>
</html>